html,
body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}
.wrapper{
	text-align: center;
	width: 99%;
	margin: 0 auto;
}
.row a{
	width: 24%;
  display: inline-block;
  border: 1px solid #008074;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-bottom:0;
}
.row a:hover{
	background:#008074;
	color: #fff;
}
.row:last-child a{
	border-bottom:1px solid #008074;
}
.heading{
	font-size:20px;
	text-align: center;
	color:#008074;
	margin: 20px 0;
}